@model GBS.Models.Category_Color

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Category_Color</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.color_cod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.color_cod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.color_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.color_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rec_status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rec_status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.color_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
